.container {
  width: 80%;
  max-width: 380px;
  color: #f3f4f6;
}

.container h1 {
  text-align: center;
  margin-bottom: 32px;
}

.container__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  flex: 1;
  background-color: transparent;
  color: #c1c8cd;
  border: none;
  outline: none;
}

.input::placeholder {
  color: #7e868c;
}

.container__input {
  padding: 10px 16px;
  width: 100%;
  border-radius: 4px;
  background-color: #202425;
  display: flex;
  align-items: center;
  gap: 12px;
}

.container__input:focus-within {
  border: 1px solid #8dcec3;
}

.button {
  margin-top: 18px;
  padding: 8px;
  border-radius: 4px;
  background-color: #8dcec3;
  color: #202425;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #53b9ab;
}
