.container__input {
  padding: 10px 16px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(38, 41, 43, 0) 0%,
    hsl(204, 25%, 9%) 100%
  );
  display: flex;
  align-items: center;
  gap: 12px;
}

.container__input svg {
  color: #7e868c;
}

.container__input:focus-within {
  border-bottom: 2px solid #afdfd7;
}

.input {
  flex: 1;
  background-color: transparent;
  color: #c1c8cd;
  border: none;
  outline: none;
}

.input::placeholder {
  color: #7e868c;
}

@media (max-width: 280px) {
  .input {
    font-size: 0.75rem;
  }

  .input::placeholder {
    font-size: 0.75rem;
  }
}
